.comments-section {
  margin-top: 20px;
  margin-bottom: 20px;
}
.comment-form__list {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  position: absolute;
  column-gap: 14px;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  &--active {
    @extend .comment-form__list;
    top: 100%;
    transform: translate(0, -120%);
  }
}
.comment-form__wrapper {
  position: relative;
}
.comment-form__inner {
  max-width: 100%;
}
.comment-form__input {
  scrollbar-width: none;
  resize: none;
  width: 100%;
  border: 0.5px solid #eaeaea;
  border-radius: 16px;
  padding: 16px 12px 0px 12px;
  background-color: #f4f4f4;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 0.875rem;
  display: block;
  margin-block: auto;
  &:hover {
    background-color: #eaeaea;
  }
  &--active {
    @extend .comment-form__input;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #fff;
    min-height: 104px;
    &:hover {
      background-color: #fff;
    }
  }

  &::placeholder {
    color: #505050;
  }
  &:focus {
    outline: black;
  }
}

.comment-form__footer {
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comment-form__text {
  font-size: 0.875rem;
  padding-block: 22px;
  padding-left: 16px;
}
.comment-form__send-btn {
  margin-right: 10px;
  display: inline-block;
  height: max-content;
  background-color: #9b9b9b;
  color: #fff;
  font-size: 0.75rem;
  padding-inline: 16px;
  padding-block: 8px;
  border-radius: 16px;
  font-family: "Roboto";
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.3;
  &--active {
    @extend .comment-form__send-btn;
    background-color: #00a876;
  }
}
.comment-form__link {
  color: #006496;
  text-decoration: none;
}

.comment-form__send-btn:hover {
  cursor: pointer;
}
.comment-form__send-btn:disabled {
  cursor: not-allowed;
}
