.comments-filter-bar__sorting {
    display: flex;
    align-items: center;
    column-gap: 16px;
}
.comments-bar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.comments-bar__btn {
    position: relative;
    width: 22px;
    height: 22px;
}
.reload-btn__icon {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.comments-bar__title {
    line-height: 1.2;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 22px;
}
.dialog-filter {
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.comments-filter-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}
.dialog-filter__btn {
    position: relative;
}
.dialog-filter__burger-icon {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
}
.comments-container {
    padding-inline: 80px;
}
.sorting-date {
    font-family: 'Roboto';
    font-weight: 700;
}
.font-roboto {
    font-family: "Roboto";
    font-weight: 400;
}
