.classic-btn {
  border-radius: 11px;
  padding-inline: 8px;
  padding-block: 4px;
  font-family: "Roboto";
  font-weight: 700;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.vertical-line {
  border-left: 2px solid #eaeaea;
  height: auto;
  border-radius: 100px;
}
.user-avatar {
  width: 32px;
  height: 32px;
}

