* {
  margin: 0;
  box-sizing: border-box;
  border: none,
}
body {
  color: #222;
}

.classic-btn {
  border-radius: 11px;
  padding-inline: 8px;
  padding-block: 4px;
  font-family: "Roboto";
  font-weight: 700;
}
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
button {
  background-color: transparent;
}
.uppercase {
  text-transform: uppercase
}
.bold {
  font-weight: 700;
}
.text-sm {
  font-size: 12px;
}
.grey-600 {
  color: #7F7F7F
}
.mint-500 {
  color: #00A876
}
.bg-mint-500 {
  background-color: #00A876;
}
.white {
  color: white
}
.pointer {
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.vertical-line {
  border-left: 2px solid #eaeaea;
  height: auto;
  border-radius: 100px;
}