* {
  margin: 0;
  box-sizing: border-box;
  border: none,
}

.classic-btn {
  border-radius: 11px;
  padding-inline: 8px;
  padding-block: 4px;
  font-family: "Roboto-Bold, sans-serif";
}
.flex {
  display: flex;
}
button {
  background-color: transparent;
}
.uppercase {
  text-transform: uppercase
}
.bold {
  font-weight: 700;
}
.text-sm {
  font-size: 12px;
}
.grey-600 {
  color: #7F7F7F
}
.mint-500 {
  color: #00A876
}
.bg-mint-500 {
  background-color: #00A876;
}
.white {
  color: white
}
.pointer {
  cursor: pointer;
}
